<div class="dropdown" [class.is-hoverable]="hoverable" [class.is-active]="!hoverable && active">
    <div class="dropdown-trigger">
        <button class="button" aria-haspopup="true" aria-controls="dropdown-menu" (click)="onTriggerClick()">
            <span>{{title}}</span>
            <span class="icon is-small">
                <i class="fas fa-angle-down" aria-hidden="true"></i>
            </span>
        </button>
    </div>
    <div class="dropdown-menu" id="dropdown-menu" role="menu">
        <div class="dropdown-content">
            <ng-content></ng-content>
        </div>
    </div>
</div>
